.btn {
  border-radius: 8px;
  color: white;
  background: #3699e8;
  padding: 16px 24px;
}

.small-btn {
  border-radius: 8px;
  background: #3699e8;
  color: white;
  padding: 9.5px 16px;
}

.btn__transparent {
  border-radius: 8px;
  border: 2px solid #3699e8;
  color: #3699e8;
  padding: 16px 24px;
}
