h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #3699e8;
}

p {
  font-family: "Scope One", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.small-bold {
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
}

.text-medium {
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.text-light {
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 300;
}
