.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.justify-space-between {
  justify-content: space-between;
}

.max-width {
  max-width: 239px !important;
}

.margin-bottom-112px {
  margin-bottom: 112px;
}

.margin-bottom-93px {
  margin-bottom: 93px;
}
